.image-wrapper {
	justify-content: center;
	position: relative;
	overflow: hidden;
  }
  
  .image-wrapper:hover .details {
	transform: translateY(0);
  }
  
  .details {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(253, 253, 253);
	padding: 6.5px;
	color: white;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out; 
  }